.code-editor {
  textarea {
    width: 400px;
    height: 75px;
    border-radius: 5px;
    border-color: #CCC;
    margin: 5px;
  }
}

.stages {
  display: flex;

  .lexer, .parser, .interpreter {
    width: 33%;
    overflow: scroll;
    padding: 20px;
  }
}
