.app {
  .editing {
    display: flex;

    .input, .result, .lexer, .parser {
      width: 50%;
      overflow: scroll;
      padding: 10px;
    }

    .example-selection {
      margin-bottom: 10px;
    }

    .code-editor {
      display: flex;

      textarea {
        height: 125px;
        width: 100%;
        border-radius: 5px;
        border-color: #CCC;
      }
    }
  }

  .stages {
    display: flex;

    .lexer, .parser {
      width: 50%;
      overflow: scroll;
      padding: 20px;
    }
  }
}
